@model IEnumerable<SiteAgencia.Models.Destinos>

@{
    ViewData["Title"] = "Lista de destinos cadastrados";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success " asp-action="Create">Criar novo destino</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons">edit_note</span></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><span class="material-icons">upgrade</span></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="material-icons">delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
