@model IEnumerable<SiteAgencia.Models.Compras>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>Realizar nova venda</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Realizar nova venda</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-wrap">
                @Html.DisplayFor(modelItem => item.cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino.Destino)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons">edit_note</span></a>
                <a asp-action="Details" asp-route-id="@item.Id"><span class="material-icons">upgrade</span></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="material-icons">delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
