@model IEnumerable<SiteAgencia.Models.Destinos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
        <main class="container-fluid row m-0">
            @foreach (var item in Model)
            {

                <section class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <section class="bg-danger m-1 d-flex flex-wrap align-items-center justify-content-center p-2 text-white">
                        <h2>@Html.DisplayFor(modelItem => item.destino)</h2>
                        <p class="bg-white p-2 text-dark text-center">
                            @Html.DisplayFor(modelItem => item.descricao)
                        </p>
                        <!-- Button trigger modal -->
                        <a asp-action="Edit" asp-route-id="@item.id_Destino">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id_Destino">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id_Destino">Delete</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Viajar
                        </button>
                    </section>
                </section>

            }
        </main>

