@model SiteAgencia.Models.Contato

@{
    ViewData["Title"] = "Detalhes da mensagem";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index"><span class="material-icons">keyboard_return</span></a>
</div>
