@model IEnumerable<SiteAgencia.Models.Contato>

@{
    ViewData["Title"] = "Mensagens recebidas";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
              <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Email)</a>
            </td>
            <td>
            
                @Html.DisplayFor(modelItem => item.Mesagem)
            </td>
            <td>

                <a asp-action="Delete" asp-route-id="@item.Id"><span class="material-icons">delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
